---
import Layout from "@/layouts/Layout.astro";
import { rx } from "theme";
import { rxPage } from "@rxdrag/website-lib-core";
import dayjs from "dayjs";
import { Meta, Link, RichTextView } from "@rxdrag/website-lib";
import { RichTextOutline, Share } from "@rxdrag/website-lib-core";
import Header from "@/components/Header.astro";
import BreadcrumbCTA from "@/components/BreadcrumbCTA.astro";
import Footer from "@/components/Footer.astro";
import { Breadcrumb, FooterCTA, Globals } from "theme";

// 生成静态路径
export async function getStaticPaths() {
  // 获取所有文章的静态路径
  return await rx.getPostPaths();
}
// 启用服务器端渲染，处理所有路径
//export const prerender = false;
// 在组件加载时获取文章详情
const { slug } = Astro.params;
if (!slug) {
  return Astro.redirect("/404");
}
const post = await rx.getPostBySlug(slug, {
  width: 1200,
  height: 600,
});
// 如果文章不存在，返回 404
if (!post) {
  return Astro.redirect("/404");
}
// 生成面包屑
const breadcrumbs = rxPage.postBreadcrumbs(post, "Home", "Blog");---

<Layout>
  <Meta title={post?.title} content={post?.meta} slot="meta" />
  <Header />
  <BreadcrumbCTA title={post.title || "Article"}>
    <div>
      Your professional water treatment chemicals
      <b class="text-xl mx-2"> Supplier </b>
      in China.
    </div>
  </BreadcrumbCTA>
  <Breadcrumb separator="/" items={breadcrumbs} />

  <main class="container">
    <section class="m-h-20 w-full mt-4">
      <div
        class="relative aspect-[5/2] overflow-hidden flex justify-center items-center"
      >
        <img
          class="min-h-20 absolute inset-0 h-full w-full bg-gray-50 object-cover"
          src={post.cover?.resize}
          alt={post.title || "Post image"}
        />
      </div>
    </section>
    <section class="m-h-20 w-full mt-4">
      <div class="flex justify-between gap-8">
        <div class="w-96 mt-12 relative">
          <div
            class="sticky top-24 overflow-auto flex flex-col gap-2 h-[calc(100vh-120px)]"
          >
            <div>
              <h2 class="text-2xl text-black ml-2">Table of Contents</h2>
            </div>
            <RichTextOutline
              itemClassName="border-b p-3 rounded-md actived:bg-primary-200 actived:font-semibold actived:text-primary-900 hover:bg-primary-50"
              value={post.content}
              client:load
            />
            <div><Share className="pl-2 mt-2" client:load /></div>
          </div>
        </div>
        <div class="flex-1 flex flex-col gap-8 mt-8">
          <h1 class="text-4xl font-bold leading-normal max-w-2xl">
            {post.title}
          </h1>
          <hr />
          <div class="relative flex items-center justify-between">
            {
              post?.author && (
                <div class="relative flex items-center gap-x-4">
                  <img
                    class="h-20 w-20 rounded-full bg-gray-50"
                    src={post?.author?.avatar?.thumbnail}
                    alt={post?.author?.name || "Author image"}
                  />
                  <div class="flex items-center gap-2">
                    <Link
                      type="user"
                      to={post?.author?.id || ""}
                      class="text-gray-600 font-semibold hover:text-sky-600"
                    >
                      {post?.author?.name}
                    </Link>
                  </div>
                </div>
              )
            }
            <p class="text-gray-600 text-sm">
              {dayjs(post?.createdAt)?.format("MMMM D, YYYY")}
            </p>
          </div>
          {
            post.content && (
              <RichTextView class="max-w-3xl prose" value={post.content} />
            )
          }
        </div>
      </div>
    </section>
  </main>

  <FooterCTA />
  <Footer />
  <Globals />
</Layout>
