---
import { PageType } from "@rxdrag/rxcms-models";
import Layout from "@/layouts/Layout.astro";
import { rx } from "theme";
import { rxPage } from "@rxdrag/website-lib-core";
import { Meta, Link } from "@rxdrag/website-lib";
import { SearchInput } from "@rxdrag/website-lib-core";
import Header from "@/components/Header.astro";
import BreadcrumbCTA from "@/components/BreadcrumbCTA.astro";
import Footer from "@/components/Footer.astro";

// 禁用预渲染，使用服务器端渲染
export const prerender = false;
// 尝试多种方式获取查询参数
let query = "";
const url = new URL(Astro.request.url);
query = url.searchParams.get("q") || "";
// 对URL参数进行解码
const decodedQuery = query ? decodeURIComponent(query) : "";
const products = await rx.searchProducts(decodedQuery);
const breadcrumbs = rxPage.breadcrumbs("Search products result");
const meta = (await rx.getPageByType(PageType.SearchList))?.meta;---

<Layout>
  <Meta title="Search products result" slot="meta" content={meta} />
  <Header />
  <BreadcrumbCTA title="Search products result" />
  <Breadcrumb items={breadcrumbs} />
  <section class="container w-full mt-8">
    <div class="max-w-4xl">
      <form method="get" action="/search" class="flex items-center gap-2">
        <SearchInput
          name="q"
          value={decodedQuery}
          className="block w-full px-2 rounded-md outline-none border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-sky-600 sm:text-sm sm:leading-6"
          placeholder="Find products..."
        />
        <button
          type="submit"
          class="btn btn-primary btn-lg flex items-center gap-2"
        >
          Search
        </button>
      </form>
      <div class="flex flex-col mt-8 gap-4 text-sm">
        {
          products?.items?.map((product) => (
            <div class="flex items-start gap-4">
              <img
                class="w-32 h-32 object-cover rounded"
                src={product.cover?.thumbnail || ""}
                alt={product.title}
              />
              <Link
                type="product"
                to={product.slug}
                class="flex flex-col gap-2"
              >
                <h3 class="text-lg font-bold hover:text-sky-600">
                  {product.title}
                </h3>
                <p class="text-gray-600 hover:text-sky-600">
                  {product.description}
                </p>
              </Link>
            </div>
          )) || []
        }
        {!products?.total && <p>No products found</p>}
      </div>
    </div>
  </section>
  <FooterCTA />
  <Footer />
  <Globals />
</Layout>
